*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.sv
!*.ld
!*.cpp
!*.cc
!.clangd
!tools/*.sh
!.gitignore
!.scalafmt.conf
!CLAUDE.md
!projectTips.md
!picturecode.md
!device/*.md
!build.sc
build/

# Verilator generated
sim_soc/obj_dir*/

# mill
!*.mill
!.mill-version
!mill
!mill.bat
!millw
out/
.bsp/
.metals/
.idea/
.idea_modules/
test_run_dir/
