*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.sv
!*.ld
!*.cpp
!*.cc
!.gitignore
!.scalafmt.conf
!CLAUDE.md
!projectTips.md
!picturecode.md
!build.sc
build/

# mill
!*.mill
!.mill-version
!mill.bat
out/
.bsp/
.metals/
.idea/
.idea_modules/
test_run_dir/
